@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Overpass', sans-serif;

}
body{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #efefef;
}

a{
    color: rgb(23,23,23);
    text-decoration: none;

}
.innerWrapper{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
/* HEADER
-------------------------------------------------------------------------*/

.boxWrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}
.pageHeader{
    background: url('./images/bg-pattern-intro-desktop.svg'), hsl(356, 100%, 66%);
    background-size: 200%;
    background-position: -285px, 100px;
    
    padding: 16px 0;    
}
.navLeft{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}
.navRight{
    display: flex;
    align-items: center;
    gap: 20px;
}
p{
    font-size: 36px;
    text-align: left;
}
.navRightSignUpText{
    
    color: hsl(356, 100%, 66%);
    font-weight: 700;
}
.navRightSignUp{
    border: none;
    border-radius: 28%;
    background-color: white;
    padding: 10px;
    width: 35%;
    text-align: center;
}


.btnSecondary{
    background-color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-weight: 700;
    font-size: 12px;
}
.btnSecondary > a{
    color: hsl(356, 100%, 66%);

}
.btnPrimary{
    background-color: transparent;
    border: none;
}
.btnPrimary > a{
    color: #fff;    
}

.navBox > ul{
    display: flex;
    gap: 14px;
    list-style: none;

}
.navBox a{
    color: #fff;
    font-size: 14px;
}
.pageBanner{
    min-height: 400px;
    display: flex;
}
.pageBanner > .innerWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    min-height: 200px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
}
.bannerButton{
    margin-top: 10px;
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.banner > h1{
    text-align: center;
    font-size: 44px;
    color: #fff;
    font-weight: 700;

}
.banner > p{
    font-size: 14px;
    color:hsl(0, 0%, 100%);
}
.bannerButton > .btn{
    border-radius: 35px;
    width: 120px;
    height: 35px;
    text-align: center;
    padding: auto;
    font-size: 12px;

}
.btnPrimary2 > a{
    color: hsl(356, 100%, 66%);
    font-weight: 700;
}
.btnSecondary2 > a{
    color: #fff;
}
.btnSecondary2{
    background-color: transparent;
    border: 1px solid  #fff;
    font-weight: 700;
}
.btnPrimary2{
    background-color: #fff;
    border: 1px solid #fff;
    
}
.menuBtn{
    background-color: transparent;
    border: none;
    display: none;
    
}



/* ABOUT -------------------------------------------- */
.pageAbout{
    min-height: 500px;
    text-align: center;
}
.pageAbout > .innerWrapper{
    display: flex;
    align-items: flex-end;
}
.aboutLeft{
    height: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}
.aboutRight{
    height: 400px;
    width: 50%;
}
.aboutBox{
    text-align: center;
    width: 90%;
    height: 40%;
}
.aboutBox > p{
    font-size: 14px;
}
.aboutBox > h2{
    text-align:left;
    margin-bottom: 10px;
    color: hsl(208, 49%, 24%);
}
.pageAbout > h2{
    font-size: 36px;
    margin-top: 85px;
    margin-right: 100px;
    color: hsl(208, 49%, 24%)
}
.aboutRight > img{
    width: 100%;
    position: relative;
    top: -100px;
    right: -50px;
}

/* newsLetter -------------------------------------- */
.pageNewsLetter{
    background-color: hsl(240, 10%, 16%);
    position: relative;
    overflow: hidden;
    z-index: 0; 
    border-radius: 0px 70px 0px 70px;
}
.pageNewsLetter > .innerWrapper{
    display: flex;
    align-items: center;
    height: 300px;
    gap: 30px;
}
.phonesIMG{
    padding: 20px;
    height: 350px;
    width: 50%;
    z-index: 1;
    object-fit: content;
}

.newsletterText{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}
.pageNewsLetter > img{
    position: absolute;
    top:-240px;
    left:-80px;
    width: 550px;

}
.newsletterText > h2{
    font-size: 46px;
    font-weight: 700;
    text-align: left;
}
.newsletterText > p{
    font-size: 18px;
    font-weight: 500;
}

/* PAGE PRODUCT -------------------------------------------- */
.pageProduct > .innerWrapper{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 40px 0;
}
.productTextWrapper{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 25px;
}


/* FOOTER -------------------------- */
.pageFooter{
    background-color: hsl(240,18%,16%);
    color: #fff;
    padding: 30px 0;
    border-radius: 0px 95px 0px 0px;
    
}
.pageFooter ul{
    list-style: none;
}
.pageFooter a{
    color: #fff;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;

}
.pageFooter span {
    font-weight: 700;
    padding: 20px;
}
.pageFooter > .innerWrapper{
    display: flex;
   
}
.logo, .footerBox{
    flex: 1;
}






/* COLORS -------------------
### Primary

- Light red (CTA text): hsl(356, 100%, 66%)
- Very light red (CTA hover background): hsl(355, 100%, 74%)
- Very dark blue (headings): hsl(208, 49%, 24%)

### Neutral

- White (text): hsl(0, 0%, 100%)
- Grayish blue (footer text): hsl(240, 2%, 79%)
- Very dark grayish blue (body copy): hsl(207, 13%, 34%)
- Very dark black blue (footer background): hsl(240, 10%, 16%

*/

/* MEDIA QUERY -----------*/
@media (max-width:768px){
    .menuBtn{
        display: block;
        
    }
    .boxWrapper{
        display: none;
        position: fixed;
        background-color: #fff;
        width: 85%;
        max-width: 350px;
        min-height: 80vh;
        top:53%;
        left:50%;
        transform: translate(-50%,-50%);
        box-shadow: 0px 8px 10px 0.5px rgb(113, 113, 113);
        border-radius: 8px;
        flex-direction: column;
        padding: 20px;
    }
    .navBox > ul{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .navRight{
        flex-direction: column;
        border-top: 1px solid rgb(100, 99, 99);
        padding-top: 30px;
        width: 90%;
    }
    .boxWrapper a{
        color: hsl(353, 100%, 62%);
        text-align: center;
        font-weight: 700;
    }
    .navRight > .btnSecondary{
        background-color: rgb(241,19,19);
        background: linear-gradient(153deg, rgba(241,19,19,19)14%);

    }
    .pageAbout > .innerWrapper{
        flex-direction: column-reverse;
    }
    .aboutRight{
        width: initial;
        height: initial;
    }
    .aboutLeft{
        width: initial;
        height: initial;
    }
    .pageNewsLetter{
        padding: 15px;
        flex-direction: column;
    }
    .pageFooter > .innerWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .pageProduct > .innerWrapper{
        display: flex;
        flex-direction: column;
    }
}
.showMenu{
    display: flex;
}